@media (max-width: 1230px) {
    /*INTRO*/
    .intro__suptitle {
        font-size: 53px;
    }
    .intro__title {
        font-size: 120px;
    }
    /*reviews*/
    .reviews__text {
        font-size: 20px;
    }
    .revews__author {
        font-size: 20px;
    }
}



@media (max-width: 990px) {
    /*INTRO*/
    .intro__suptitle {
        font-size: 33px;
    }
    .intro__title {
        font-size: 80px;
    }
    /*statistics*/
    .stat {
        justify-content: center;
    }
    .stat__item {
        flex: none;
        width: 33%;
        border: none;
        padding: 30px 25px;
    }
    .stat__item:last-child {
        border: none;
    }
    .stat__numeral {
        font-size: 72px;
    }
    /*services*/
    .services__item {
        width: 50%;
        margin-bottom: 25px;
    }
    .services__item--border {
        border: none;
        padding-bottom: 0;
    }
     /*reviews*/
     .reviews__photo {
        height: 150px;
        width: 150px;
        left: 80px;
     }
     .reviews {
        padding: 60px 50px;
     }
      /*logos*/
    .logos {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

     /*clients*/
     .clients {
        max-width: 600px;
        margin: 0 auto;
     }
     .clients__item {
        width: 100%;
        padding-right: 0;
     }
     /*blog*/
     .blog {
         flex-wrap: wrap;
         width: 100%;
         max-width: 380px;
         margin: 0 auto;
     }
     .blog__item {
         width: 100%;
         margin-bottom: 30px;
     }
    .blog__item:last-child {
        margin-bottom: 0;
    }
    .blog__descr::after {
        margin-bottom: 0;
    }
    /*footer*/
    .footer__col--first {
        width: 100%;
        text-align: center;
    }
    .footer__col--second {
        width: 50%;
    }
    .footer__col--third {
        width: 50%;
    }
    .subscribe {
        margin: 0 auto;
    }
    
}



@media (max-width: 770px) {
    /*hero*/
    .hero {
        min-height: 650px;
        }
    /*nav*/
   .nav {
       display: none;
   }
   /*slider*/
   .slider {
       text-align: center;
   }
   .slider__text {
       display: none;
   }
   .slider__item--active::before {
       width: 50%;
   }
   /*section*/
   .section {
    padding: 40px 0;
   }
   .section--devices {
       padding-bottom: 0;
   }
   .section__header {
       margin-bottom: 50px;
   }
   /*card*/
   .card {
       justify-content: center;
       flex-wrap: wrap;
   }
    .card__item {
        width: 100%;
        max-width: 380px;
        margin-bottom: 30px;
    }
    .card__item:last-child {
        margin-bottom: 0;
    }
     /*services*/
     .services {
         justify-content: center;
     }
     .services__item {
        width: 100%;
        max-width: 400px;
        padding-left: 60px;
    }
    .services__icon {
        left: 0;
    }
    /*we do*/
    .wedo__img {
        display: none;
    }
    .wedo__item {
         width: 100%;
    }
    /*reviews*/
    .reviews {
        padding: 60px 18px;
    }
    .reviews__item {
        padding-left: 0;
    }
    .reviews__photo {
        position: static;
        margin: 0 auto 20px;
        width: 80px;
        height: 80px;
    }
    .reviews__text {
        font-size: 14px;
    }
    .reviews__author {
        font-size: 20px;
    }
   
    /*works*/
    .works {
        flex-wrap: wrap;
    }
    .works__col {
        flex: none;
        width: 50%;
    }
    .works__item {
        margin: 0 auto;
    }
    /*footer*/
    .footer__col {
        margin-bottom: 30px;
    }
    .footer__col--second {
        margin: 0 auto;
    }
    .footer__col--third {
        width: 100%;
        margin-bottom: 0;
    }
     /*copyright*/
     .copyright {
        padding: 0 20px;
        background: #BC9CFF;
        font-size: 10px;
        color: #1f2041;;
        border: none;
        padding: 10px 0 5px 0;
    }
    .copyright span {
        color: #1f2041;;
        font-size: 12px;
    }
    .copyright a {
        color: #1f2041;
    }

}



@media (max-width: 575px) {
    
    /*INTRO*/
    .intro__suptitle {
        font-size: 23px;
    }
    .intro__title {
        font-size: 40px;
    }
    /*section*/
    .section__header {
        margin: 0 auto 50px;
    }
    .section__suptitle {
        font-size: 20px;
    }
    .section__title {
        font-size: 24px;
    }
    .section__title::after {
        width: 30%;
        margin: 20px auto;
    }
   /*statistics*/
   .stat {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }
    .stat__item {
        width: 100%;
        border-bottom: 1px solid #b5eae0;
        padding: 30px 25px;
    }
    .stat__item:last-child {
        border-bottom: none;
    }
    .stat__numeral {
        font-size: 52px;
    }
    .stat__text {
        font-size: 20px;
    }
    /*services*/
    .services {
        padding-top: 0;
        padding-right: 0;
    }
    /*devices*/
    .devices {
        max-width: 320px;
    }
    .devices__item--iphone {
        width: 127px;
        bottom: -2px;
        right: -24px;
    }
    /*reviews*/
    .reviews {
        padding: 0;
    }
    .reviews__btn {
        top: 20%;
    }
    /*works*/
    .works__col {
        width: 100%;
    }
    /*clients*/
    .clients__item {
        padding-left: 0;
        text-align: center;
    }
    .clients__item:last-child {
        margin-bottom: 0;
    }
    .clients__img {
        position: static;
        margin-bottom: 10px;
        margin: 0 auto;    
    }
    .clients__position::after {
        margin: 15px auto;
    }
    /*blog*/
    .blog__item {
        margin-right: 0;
    }
    .blog__date {
        top: 0;
        left: 0;
    }
    /*footer*/
    .footer__inner {
        padding-bottom: 0;
    }
    .footer__col--second {
        width: 100%;
        margin: 0;
    }
    .footer__social-content a {
        font-size: 18px;
    }
    /*form*/
    .subscribe {
        width: 100%;
    }
    .subscribe__btn {
        padding: 0 10px;
        font-size: 10px;
    }
    .subscribe__input::placeholder {
        font-size: 11px;
    }
   
}